/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 28, 2018, 8:12:12 PM
    Author     : Justi
*/

#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 25vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}

#main {
    width: 75vw;
    position: relative;
    left: 25vw;
    padding: 1vw;
}