/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 5, 2018, 3:25:18 PM
    Author     : Justi
*/

img {
    width: 100%;
    height: auto;
}

#header {
    position: sticky;
    top: 0;
    height: 12vh;
    background-color: white;
    z-index: 5;
}

#filters {
    width: 20vw;
    position: fixed;
    left: 0;
}

#prod {
    position: relative;
    left: 20vw;
    width: 75vw;
}

#products {
    display: grid;
    grid-template: auto auto / repeat(4, 1fr);
    grid-gap: 1vw;
    text-align: center;
}

#pages {
    justify-content: center;
    padding: 1vw 0;
}

#image {
    width: 35vw;
}