/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 8, 2018, 3:51:03 PM
    Author     : Justi
*/

#header {
    position: sticky;
    top: 0;
    height: 12vh;
    background-color: white;
    z-index: 5;
}

#navigation {
    position: fixed;
    left: 0;
    width: 20vw;
}

#main {
    position: relative;
    left: 20vw;
    width: 80vw;
    padding: 1vw;
}